{% extends "base.html" %}
{% block content %}

{% load leaflet_tags %}

  <h1 class="header">Your current location</h1>
  <div class="container">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
  </div>

  <script>
    function map_init_basic (map, options) {
            let currentPosition = navigator.geolocation.getCurrentPosition((position) => {
            console.log(position.coords.latitude)
            console.log(position.coords.longitude);
            map.setView([position.coords.latitude, position.coords.longitude], 13)

            let marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);

            let stringA = position.coords.longitude + "," + position.coords.latitude;
            console.log(stringA, "stringA")
            update_db(stringA)
        })           
    }


    function updateLocation(position) {
        console.log('IN HERE')
        console.log(position)
        update_db(position)
    }

    function update_db(position) {
        // var locString = position.coords.longitude + ", " + position.coords.latitude;
        $.ajax({
            type: "POST",
            headers: {
                // 'X-CSRFToken': getCookie('csrftoken')
            },
            url: "/updatedb/",
            data: {
                point: position,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log("success")
            // var originalMsg = $(".toast-body").html();
            // $(".toast-body").html(originalMsg + "<br/> Updated database <br/>"
            // + data["message"]);
        }).fail(function (xhr,staus, error) {
            console.log(error);
            // var originalMsg = $(".toast-body").html();
            // $(".toast-body").html(originalMsg + "<br/>" + error);
        }).always(function () {
            console.log("find_loc_ed finished");
            // $(".toast").toast('show');
        });
    }
</script>
{% endblock %}