{% extends "base.html" %}
{% block content %}

{% load leaflet_tags %}

  <h1 class="header">Your current location</h1>
  <div class="container">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
  </div>

  <script>
    function map_init_basic (map, options) {
            let currentPosition = navigator.geolocation.getCurrentPosition((position) => {
            console.log(position.coords.latitude)
            console.log(position.coords.longitude);
            map.setView([position.coords.latitude, position.coords.longitude], 11)

            let customIcon = L.icon({
                iconUrl: 'https://placekitten.com/g/75/75',

                iconSize:     [75, 75], // size of the icon

            });

            let marker = L.marker([position.coords.latitude, position.coords.longitude], {icon: customIcon}).addTo(map);
            L.circle([position.coords.latitude, position.coords.longitude], 5000).addTo(map);
            let stringA = position.coords.longitude + "," + position.coords.latitude;
            update_db(stringA)
        })           
    }


    function updateLocation(position) {
        console.log(position)
        update_db(position)
    }

    function update_db(position) {
        $.ajax({
            type: "POST",
            headers: {
            },
            url: "/updatedb/",
            data: {
                point: position,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log("success")
        }).fail(function (xhr,staus, error) {
            console.log(error);
        }).always(function () {
            console.log("find_loc_ed finished");
        });
    }
</script>
{% endblock %}