{% extends "base.html" %}

{% block content %}

<h2 style="margin-top: 10px; text-align: center">Welcome to Cat Finder</h2>
<div class="container">

    {% if user.is_authenticated %}
    <h2 style="text-align: center;">Hi {{ user.get_username }} </h2>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'map' %}" role="button">Cat Tracker Map</a>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'logout' %}" role="button">Logout</a>
    {% else %}
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'signup' %}" role="button">Sign up</a>
    {% endif %}
</div>
</div>
{% endblock %}