{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="text-align: center; margin-top: 1rem;">
    {% if user.is_authenticated %}
    <p class="p-2">Hi {{ user.get_username }} </p>
    <a class="btn btn-warning btn-lg btn-block" href="{% url 'logout' %}" role="button">Logout</a>
    {% else %}
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'signup' %}" role="button">Sign up</a>
    {% endif %}
</div>
</div>
{% endblock %}